<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../../../assets/quizzu_logo.png">
      <ion-button class="button-notification" (click)="openNotifications()"
                  [disabled]="this.isAnyNotification()"
                  *ngIf="isNotificationsEnabled()">
        {{notificationLength()}}
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="stats" color="mediumlight">
    <ion-card-header class="stats-title">
      <ion-card-title>Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item color="mediumlight">
          <ion-label><h2>Notifications</h2></ion-label>
          <ion-toggle [(ngModel)]="notificationsEnabled" (ionChange)="changeNotifications()"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button class="button-profile" (click)="closeSettings()"><h2>Go Profile</h2></ion-button>

</ion-content>
