.img-toolbar {
  max-width: 40%;
  height: auto;
}

ion-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

ion-card-content {
    display: block;
    position: relative;
    max-height: 200px;
    overflow-y: scroll;
    margin-top: 3px;
    margin-bottom: 3px;
}

ion-card.ion-color .ion-inherit-color, ion-card-header.ion-color .ion-inherit-color {
  color: #A92EDF;
  padding-top:5px;
}

h2{
  color: #A92EDF;
}

.local{
  color: #A92EDF;
}

.last-games-result{
  color: #252326;
}

.new-game-row{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.button-game:disabled,
.button-game[disabled]{
  --background: #252326;
  opacity: 1;
}

ion-item {
  margin:0;
  padding: 0;
}

.button-white {
  --background: #ffffff;
  color: #A92EDF;
  font-size: large;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2.5px;
}

.icon-medium {
  font-size: 30px;
}

.h2-white{
color: white;
padding: 0;
margin: 0;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.h3-white{
color: white;
padding: 0;
margin: 0;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.h3-title{
padding: 0;
margin: 0;
}

.list-md{
padding: 0;
}


.icon-big{
color: #A92EDF;
font-size: 50px;
}

.list-size{
max-height: 350px;
overflow-y: scroll;
}

.game-result{
background-color: #cfcfcf;
margin-right: 10px;
border-radius: 4px;
padding: 3px;
}

.result-local {
color: #A92EDF;
}

.result-away {
color: #252326;
}

.button-notification {
position: absolute;
display: inline-block;
font-size: large;
right: 0.5em;
--border-radius: 30px;
--padding-bottom: 13px;
--padding-top: 13px;
--padding-start: 15px;
--padding-end: 15px;
height: auto;
top: 10%;
}

.button-notification:disabled,
.button-notification[disabled]{
--background: #252326;
opacity: 1;
}
