<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../assets/quizzu_logo.png"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="mediumlight">
        <ion-card-title align="center">Active games</ion-card-title>
        <ion-card-content>
            <ion-list *ngFor="let match of matchesActive">
                <ion-item>
                    <ion-col>
                        <h2>{{match.awayPlayerName}}</h2>
                        <h3>{{match.level}} level</h3>
                    </ion-col>
                    <ion-button class="button-game" [disabled]="match.turnLocalPlayer">
                        <ion-icon name="game-controller"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card color="mediumlight">
        <ion-card-title align="center">New game</ion-card-title>
        <ion-row class="new-game-row">
            <ion-button>Play now</ion-button>
            <ion-button>Challenge a friend</ion-button>
        </ion-row>
    </ion-card>

    <ion-card color="mediumlight">
        <ion-card-title align="center">Last games</ion-card-title>
        <ion-card-content>
            <ion-list *ngFor="let match of matchesFinished">
                <ion-item>
                    <ion-col>
                        <h2>{{match.awayPlayerName}}</h2>
                        <ion-row>
                            <h3 class="local">{{match.localPlayerPoints}}</h3>
                            <h3>-{{match.awayPlayerPoints}}</h3>
                        </ion-row>
                    </ion-col>
                    <div *ngIf="isWinner(match)">
                        <h2 class="last-games-result">HAS WON!
                            <ion-icon name="trophy-outline"></ion-icon>
                        </h2>
                    </div>
                    <div *ngIf="isLoser(match)">
                        <h2 class="last-games-result">HAS LOST!
                            <ion-icon name="skull-outline"></ion-icon>
                        </h2>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
