<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../assets/quizzu_logo.png"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="mediumlight">
        <ion-card-title align="center">Active games</ion-card-title>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-col>
                        <h2>Filodobler</h2>
                        <h3>B2 Level</h3>
                    </ion-col>
                    <ion-button color="secondary">
                        <ion-icon name="game-controller"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-col>
                        <h2>pepenaxo</h2>
                        <h3>C1 Level</h3>
                    </ion-col>
                    <ion-button>
                        <ion-icon name="game-controller"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-col>
                        <h2>Lucia</h2>
                        <h3>B2 Level</h3>
                    </ion-col>
                    <ion-button color="secondary">
                        <ion-icon name="game-controller"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card color="mediumlight">
        <ion-card-title align="center">New game</ion-card-title>
        <ion-row class="new-game-row">
            <ion-button>Play now</ion-button>
            <ion-button>Challenge a friend</ion-button>
        </ion-row>
    </ion-card>

    <ion-card color="mediumlight">
        <ion-card-title align="center">Last games</ion-card-title>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-col>
                        <h2>Filodobler</h2>
                        <ion-row>
                            <h3 class="local">162</h3>
                            <h3>-135</h3>
                        </ion-row>
                    </ion-col>
                    <h2 class="last-games-result">HAS WON!
                        <ion-icon name="trophy-outline"></ion-icon>
                    </h2>
                </ion-item>
                <ion-item>
                    <ion-col>
                        <h2>pepenaxo</h2>
                        <ion-row>
                            <h3 class="local">140</h3>
                            <h3>-175</h3>
                        </ion-row>
                    </ion-col>
                    <h2 class="last-games-result">HAS LOST!
                        <ion-icon name="skull-outline"></ion-icon>
                    </h2>
                </ion-item>
                <ion-item>
                    <ion-col>
                        <h2>pepenaxo</h2>
                        <ion-row>
                            <h3 class="local">140</h3>
                            <h3>-175</h3>
                        </ion-row>
                    </ion-col>
                    <h2 class="last-games-result">HAS LOST!
                        <ion-icon name="skull-outline"></ion-icon>
                    </h2>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
