.img-toolbar {
  max-width: 40%;
  height: auto;
}

ion-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

ion-card.ion-color .ion-inherit-color, ion-card-header.ion-color .ion-inherit-color {
  color: #A92EDF;
  padding-top:5px;
}

h2{
  color: #A92EDF;
}

.local{
  color: #A92EDF;
}

.last-games-result{
  color: #252326;
}

.new-game-row{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.button-game:disabled,
.button-game[disabled]{
  --background: #252326;
  opacity: 1;
}

ion-item {
  margin:0;
  padding: 0;
}

.button-white {
  --background: #ffffff;
  color: #A92EDF;
}

.h2-white{
  color: white;
  padding: 0;
  margin: 0;
}

.h3-white{
  color: white;
  padding: 0;
  margin: 0;
}

.list-md{
  padding: 0;
}


.icon-big{
  color: #A92EDF;
  font-size: 50px;
}

