<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="mediumlight">
    <div *ngIf="loaded">
    <ion-row>
      <ion-avatar>
        <img src="{{this.user.profile}}">
      </ion-avatar>
      <ion-card-header>
        <ion-card-title><h2>{{this.user.username}}</h2></ion-card-title>
        <ion-card-title>Level {{this.user.level}}</ion-card-title>
        <ion-card-subtitle>
          <ion-label color="dark">Points {{this.user.points}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-row>
    </div>
    <ion-row class="profile-buttons">
      <ion-button *ngIf="!isFriend && !isPending" color="primary" (click)="sendRequest()">Add Friend</ion-button>
      <ion-button *ngIf="!isFriend && isPending" color="primary" disabled>Request sent</ion-button>
      <ion-button *ngIf="isFriend" color="primary" (click)="deleteFriendDialog()">Delete Friend</ion-button>
      <ion-button color="primary">New Game</ion-button>
    </ion-row>
  </ion-card>

</ion-content>

