h1 {
  color:white;
  font-size: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.line{
  color:#252326;
  font-size: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 25px;
  color: #A92EDF;
}

h3 {
  font-size: 20px;
  color: #A92EDF;
}

ion-content{
  --ion-background-color: #A92EDF;
}

ion-card-header{
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

ion-avatar{
  justify-content: center;
  margin: auto;
}

.marks{
  display: flex;
  justify-content: center;
}
