<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center"><img class="img-toolbar" src="../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label class="label" position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label class="label" position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button class="login-button" type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row align="center">
      <ion-col>
        <a class="forgot-password" (click)="this.goToForgotPassword()"> Forgot password? </a>
      </ion-col>
    </ion-row>

    <span class="divider line one-line">or</span>

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="google"
         (click)="authService.signInWithGoogleAuth()"
         expand="block">
          <ion-icon name="logo-google"></ion-icon>
          Login with Google
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
                type="submit"
                color="fb"
                (click)="this.logInFacebook()"
                expand="block">
          <ion-icon name="logo-facebook"></ion-icon>
          Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
