.img-toolbar {
  max-width: 40%;
  height: auto;
}

ion-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

ion-card.ion-color .ion-inherit-color, ion-card-header.ion-color .ion-inherit-color {
  color: #A92EDF;
  padding-top:5px;
}

h2{
  color: #A92EDF;
}

.user {
  color: #252326
}

.local{
  color: #A92EDF;
}

.last-games-result{
  color: #252326;
}

.new-game-row{
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

ion-item {
  margin:0;
  padding: 0;
}

.button-white {
  --background: #ffffff;
  color: #A92EDF;
}

.h2-white{
  color: white;
  padding: 0;
  margin: 0;
}

.list-md{
  padding: 0;
}

ion-button{
  font-size: medium;
}

ion-col{
  padding: 0;
  margin: 0;
}

ion-buttons ion-button{
  --ion-button-round-border-radius: 5px;
  --ion-button-border-radius: 5px;
  --ion-border-radius: 5px;
  --border-radius: 5px;
  --background: #A92EDF;
  color:white;
}

.icon-big{
  color: #A92EDF;
  font-size: 50px;
}

ion-card-content {
  display: block;
  position: relative;
  max-height: 350px;
  overflow-y: scroll;
  margin-top: 3px;
  margin-bottom: 3px;
}

.h3-title {
  padding: 0;
  margin: 0;
}

.button-notification {
  position: absolute;
  display: inline-block;
  font-size: large;
  right: 0.5em;
  --border-radius: 30px;
  --padding-bottom: 13px;
  --padding-top: 13px;
  --padding-start: 15px;
  --padding-end: 15px;
  height: auto;
  top: 10%;
}

.button-notification:disabled,
.button-notification[disabled]{
  --background: #252326;
  opacity: 1;
}
