<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="mediumlight">
    <ion-card-title align="center">Search a friend</ion-card-title>
    <ion-card-content>
      <ion-buttons>
        <ion-searchbar animated placeholder="username" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-button>Search</ion-button>
      </ion-buttons>
      <ion-list *ngIf="isItemAvailable">
        <ion-item *ngFor="let item of items">{{ item }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card color="mediumlight">
    <ion-card-title align="center">Friends</ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-col>
            <h2>Filodobler</h2>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
              New game
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h2>Filodobler</h2>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
            New game
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h2>Filodobler</h2>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
            New game
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h2>Filodobler</h2>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
            New game
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h2>Filodobler</h2>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
            New game
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <!--
      <ion-list *ngFor="let match of matchesActive">
        <ion-item>
          <ion-col>
            <h2>{{match.awayPlayerName}}</h2>
            <h3>{{match.level}} level</h3>
          </ion-col>
          <ion-button class="button-game" [disabled]="match.turnLocalPlayer">
            <ion-icon name="game-controller"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  -->
    </ion-card-content>
  </ion-card>

  <ion-card color="mediumlight">
    <ion-card-title align="center">Friend requests</ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-col>
            <h3>Level B2</h3>
          </ion-col>
          <ion-button>
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h3>Filodobler</h3>
          </ion-col>
          <ion-button>
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-col>
            <h3>Filodobler</h3>
          </ion-col>
          <ion-button>
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

