<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Question</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large">Answer 1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large">Answer 2</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large">Answer 3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large">Answer 4</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
