.img-toolbar {
  max-width: 40%;
  height: auto;
}

ion-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.item {
  font-size: medium;
  color: #252326;
  margin:0;
  padding: 0;
}

.title {
  color: #A92EDF;
  font-size: large;
}
