// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #A92EDF;
  --ion-color-primary-rgb: 169,46,223;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9528c4;
  --ion-color-primary-tint: #b243e2;

  --ion-color-secondary: #252326;
  --ion-color-secondary-rgb: 37,35,38;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #211f21;
  --ion-color-secondary-tint: #3b393c;

  --ion-color-tertiary: #f4f5f8;
  --ion-color-tertiary-rgb: 244,245,248;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d7d8da;
  --ion-color-tertiary-tint: #f5f6f9;

  --ion-color-success: #55F229;
  --ion-color-success-rgb: 85,242,41;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #4bd524;
  --ion-color-success-tint: #66f33e;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #F22929;
  --ion-color-danger-rgb: 242,41,41;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d52424;
  --ion-color-danger-tint: #f33e3e;

  --ion-color-dark: #252326;
  --ion-color-dark-rgb: 37,35,38;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #211f21;
  --ion-color-dark-tint: #3b393c;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@font-face {
  font-family: 'Insaniburger';
  src: url('../assets/fonts/Insanibc.ttf');//mine
}

:root,
:root[mode='ios'],
:root[mode='md'] {
  font-family: 'Insaniburger', sans-serif !important;
}

:root {
  --ion-color-mediumlight: #cfcfcf;
  --ion-color-mediumlight-rgb: 207,207,207;
  --ion-color-mediumlight-contrast: #000000;
  --ion-color-mediumlight-contrast-rgb: 0,0,0;
  --ion-color-mediumlight-shade: #b6b6b6;
  --ion-color-mediumlight-tint: #d4d4d4;
}

.ion-color-mediumlight {
  --ion-color-base: var(--ion-color-mediumlight);
  --ion-color-base-rgb: var(--ion-color-mediumlight-rgb);
  --ion-color-contrast: var(--ion-color-mediumlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mediumlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-mediumlight-shade);
  --ion-color-tint: var(--ion-color-mediumlight-tint);
}

:root {
  --ion-color-fb: #3b5998;
  --ion-color-fb-rgb: 59,89,152;
  --ion-color-fb-contrast: #ffffff;
  --ion-color-fb-contrast-rgb: 255,255,255;
  --ion-color-fb-shade: #344e86;
  --ion-color-fb-tint: #4f6aa2;
}

.ion-color-fb {
  --ion-color-base: var(--ion-color-fb);
  --ion-color-base-rgb: var(--ion-color-fb-rgb);
  --ion-color-contrast: var(--ion-color-fb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fb-contrast-rgb);
  --ion-color-shade: var(--ion-color-fb-shade);
  --ion-color-tint: var(--ion-color-fb-tint);
}

:root {
  --ion-color-google: #DB4437;
  --ion-color-google-rgb: 219,68,55;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255,255,255;
  --ion-color-google-shade: #c13c30;
  --ion-color-google-tint: #df574b;
}

.ion-color-google {
  --ion-color-base: var(--ion-color-google);
  --ion-color-base-rgb: var(--ion-color-google-rgb);
  --ion-color-contrast: var(--ion-color-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-google-shade);
  --ion-color-tint: var(--ion-color-google-tint);
}
