.img-toolbar {
  max-width: 35%;
  height: auto;
}

 ion-title {
   margin-top: 10px;
  margin-bottom: 10px;
}

* {
  font-family: 'CandyBeans', sans-serif;
  text-transform: uppercase;
}

ion-input{
  font-family: 'CandyBeans', sans-serif;
}

.label {
  text-transform: initial;
}
