.img-toolbar {
  max-width: 40%;
  height: auto;
}

 ion-title {
   margin-top: 10px;
  margin-bottom: 10px;
}

* {
  font-family: 'Insaniburger', sans-serif;
}

ion-input{
  font-family: 'Lato', sans-serif;;
}
