<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="bg-pink">
    <h1 *ngIf="victory">VICTORY</h1>
    <h1 *ngIf="defeat">DEFEAT</h1>
    <h1 *ngIf="draw">DRAW</h1>

  <lottie-animation-view
          [options]="lottieConfig"
          [width]="200"
          [height]="250"
          (animCreated)="handleAnimation($event)">
  </lottie-animation-view>

  <ion-card color="white">
    <ion-row class="marks">
    <ion-row>
      <ion-card-header>
        <ion-avatar>
          <img src="{{this.match.player1.profile}}">
        </ion-avatar>
        <ion-card-title><h2>{{this.match.player1.username}}</h2></ion-card-title>
        <ion-card-title>{{this.match.player1Points}}</ion-card-title>
      </ion-card-header>
    </ion-row>
      <ion-row>
        <ion-card-header>
          <ion-card-title><h1 class="line">-</h1></ion-card-title>
        </ion-card-header>
      </ion-row>
    <ion-row>
      <ion-card-header>
        <ion-avatar>
          <img src="{{this.match.player2.profile}}">
        </ion-avatar>
        <ion-card-title><h2>{{this.match.player2.username}}</h2></ion-card-title>
        <ion-card-title>{{this.match.player2Points}}</ion-card-title>
      </ion-card-header>
    </ion-row>
    </ion-row>
  </ion-card>
  <hr>
  <ion-button style="--background:white" (click)="closeModal()"><h3>Go Home</h3></ion-button>

</ion-content>
