<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">

  <ion-row>
    <ion-col>
      <ion-card align="center" class="card-player" color="primary">
        <ion-row class="player-row">
          <ion-avatar>
            <img src="{{match.player1.profile}}">
          </ion-avatar>
          <div align="center" class="player">
            <h3 class="player-name">{{match.player1.username}}</h3>
            <ion-card-subtitle>{{match.player1Points}}</ion-card-subtitle>
          </div>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card align="center" class="card-player" color="primary">
        <ion-row class="player-row">
          <ion-avatar>
            <img src="{{match.player2.profile}}">
          </ion-avatar>
          <div align="center" class="player">
            <h3 class="player-name">{{match.player2.username}}</h3>
            <ion-card-subtitle>{{match.player2Points}}</ion-card-subtitle>
          </div>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card color="mediumlight" align="center">
    <ion-card class="card-question" color="secondary">
      <ion-card-title class="title-question">Question {{numberQuestion}}/15</ion-card-title>
    </ion-card>

    <ion-card-content>
      {{question}}
    </ion-card-content>

    <div class="time-question"><h2 [class.blink]="less5seconds" >{{counter}}</h2></div>
  </ion-card>

  <ion-grid class="questions" fixed="true">
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large"
                    [disabled]="answerDone"
                    [class.btnOK]='wordsButtonOK[1]' [class.btnFalse]='wordsButtonFail[1]'
                    (click)="doingAnswer(1)">{{words[0]}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large"
                    [disabled]="answerDone"
                    [class.btnOK]='wordsButtonOK[2]' [class.btnFalse]='wordsButtonFail[2]'
                    (click)="doingAnswer(2)">{{words[1]}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large"
                    [disabled]="answerDone"
                    [class.btnOK]='wordsButtonOK[3]' [class.btnFalse]='wordsButtonFail[3]'
                    (click)="doingAnswer(3)">{{words[2]}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large"
                    [disabled]="answerDone"
                    [class.btnOK]='wordsButtonOK[4]' [class.btnFalse]='wordsButtonFail[4]'
                    (click)="doingAnswer(4)">{{words[3]}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="displayAnswer" class="achievement-container">

    <div *ngIf="isCorrectAnswer()" class="medal">
      <img src="../../../../assets/perchick_happy.png" width="200" height="200" />
    </div>

    <div *ngIf="!isCorrectAnswer()" class="medal">
      <img src="../../../../assets/perchick_sad.png" width="200" height="200" />
    </div>

    <div class="message">
      <h3 class="answer-h3" align="center" *ngIf="isCorrectAnswer()"> CORRECT! </h3>
      <h3 class="answer-h3" align="center" *ngIf="!isCorrectAnswer()"> INCORRECT! </h3>
      <h4 align="center"> Answer was {{this.correctWord}} </h4>
      <h5 align="center">+ {{this.matchService.getTurnPoints(counter, isCorrectAnswer(),consecutives)}} POINTS</h5>
    </div>

    <hr>

    <ion-button (click)="closeQuestion()"><h2>Continue</h2></ion-button>

  </div>

</ion-content>
