<ion-header>
  <ion-toolbar>
    <ion-buttons slot="home/profile">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="stats" color="mediumlight">
    <ion-card-header class="stats-title">
      <ion-card-title>Edit Personal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="editUser()">
        <ion-item>
          <ion-label>First name</ion-label>
          <ion-input type="text" [(ngModel)]="this.user.firstName" name="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last name</ion-label>
          <ion-input type="text" [(ngModel)]="this.user.lastName" name="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Birth date</ion-label>
          <ion-datetime [(ngModel)]="this.user.birthDate" name="birthDate"></ion-datetime>
        </ion-item>
        <ion-button type="submit">Edit user</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="stats" color="mediumlight">
    <ion-card-header class="stats-title">
      <ion-card-title>Change password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="changePassword()">
        <ion-item>
          <ion-label>Current password</ion-label>
          <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>New password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Confirm new password</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
        </ion-item>
        <ion-button type="submit">Change password</ion-button>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>
