small {
    display: block;
    padding: 15px;
    font-size: medium;
    color: #252326;
}

.img-toolbar {
    max-width: 40%;
    height: auto;
}

.send-button {
    font-size: 20px;
}

ion-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
