<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-toolbar" src="../../assets/quizzu_logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <small align="center">
      Please provide the username or email address that you used when you signed
      up for your Quizzu account
    </small>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <hr>

    <ion-row>
      <ion-col>
        <ion-button class="send-button" type="submit" expand="block" (click)="forgotPassword(email)">Send e-mail</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
