<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center"><img class="img-toolbar" src="../../../assets/quizzu_logo.png">
            <ion-button class="button-notification" (click)="openNotifications()"
                        [disabled]="this.isAnyNotification()"
                        *ngIf="isNotificationsEnabled()">
                {{notificationLength()}}
            </ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="mediumlight">
        <ion-row>
            <ion-avatar>
                <img src="{{this.getProfile()}}">
            </ion-avatar>
            <ion-card-header>
                <ion-card-title><h2 class="h2-username">{{this.user.username}}</h2></ion-card-title>
                <ion-card-title><h3 class="h3-level">Level {{this.user.level}}</h3></ion-card-title>
                <ion-card-subtitle>
                    <ion-label color="dark">Points {{this.user.points}}</ion-label>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-button class="button-settings" (click)="openSettings()"><ion-icon name="settings-sharp"></ion-icon></ion-button>
        </ion-row>
        <ion-row class="profile-buttons">
            <ion-button color="primary" (click)="this.editImagePopover()">Change Pic</ion-button>
            <ion-button (click)="this.goToEditProfile()" color="primary">Edit Profile</ion-button>
            <ion-button color="primary" (click)="logout()">Log Out</ion-button>
        </ion-row>
    </ion-card>

    <ion-card class="stats" color="mediumlight">
        <ion-card-header class="stats-title">
            <ion-card-title>Game Stats</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row class="row-main" align="center">
                    <ion-col size="4">
                        <div>

                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            WON
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            DRAW
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            LOST
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            TOTAL
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="4" class="col-main">
                        <div>
                            C2 LEVEL
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c2level.c2won}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c2level.c2draw}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c2level.c2lost}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c2level.c2played}}
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="4" class="col-main">
                        <div>
                            C1 LEVEL
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c1level.c1won}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c1level.c1draw}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c1level.c1lost}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.c1level.c1played}}
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="4" class="col-main">
                        <div>
                            B2 LEVEL
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b2level.b2won}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b2level.b2draw}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b2level.b2lost}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b2level.b2played}}
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="4" class="col-main">
                        <div>
                            B1 LEVEL
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b1level.b1won}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b1level.b1draw}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b1level.b1lost}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{this.userStats.b1level.b1played}}
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="4" class="col-main">
                        <div>
                            TOTAL
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{matchesWon}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{matchesDraw}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{matchesLost}}
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            {{matchesDraw+matchesWon+matchesLost}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>

    <ion-card class="stats" color="mediumlight">
        <ion-card-header class="stats-title">
            <ion-card-title>Practise hits in a row</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row class="row-main" align="center">
                    <ion-col size="3">
                        <div>
                            B1
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            B2
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            C1
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            C2
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align="center">
                    <ion-col size="3">
                        <div>
                            {{this.userStats.practise.b1}}
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            {{this.userStats.practise.b2}}
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            {{this.userStats.practise.c1}}
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div>
                            {{this.userStats.practise.c2}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>
</ion-content>
