.img-toolbar {
  max-width: 40%;
  height: auto;
}

ion-card-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-card-title{
  margin-bottom: 5px;
}

ion-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-avatar {
  margin: 10px
}

ion-card.ion-color .ion-inherit-color, ion-card-header.ion-color .ion-inherit-color {
  color: #A92EDF;
}

.profile-buttons {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.stats-title{
  display: flex;
  justify-content: center;
}

h2 {
  padding: 0;
  margin: 0;
}

ion-col {
  padding: 0;
}


